<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IndexSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="IndexSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="IndexSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://www.buiducanh.net/Webservices/index.asmx"
                binding="basicHttpBinding" bindingConfiguration="IndexSoap"
                contract="buiducanh.IndexSoap" name="IndexSoap" />
            <endpoint address="https://www.buiducanh.net/Webservices/index.asmx"
                binding="customBinding" bindingConfiguration="IndexSoap12"
                contract="buiducanh.IndexSoap" name="IndexSoap12" />
        </client>
    </system.serviceModel>
</configuration>