<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MonitorServicesSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://trau.buiducanh.net/webservices/MonitorServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="MonitorServicesSoap"
                contract="MonitorServices.MonitorServicesSoap" name="MonitorServicesSoap" />
        </client>
    </system.serviceModel>
</configuration>